// Default colors:

 $orange: rgb(216,125,74);
 $black: rgb(16,16,16);
 $grey: rgb(85, 85, 85);
 $light-grey: rgb(241,241,241);
 $very-light-grey: rgb(250,250,250);
 $light-orange: rgb(251,175,133);
 $white: rgb(255,255,255); 
 $dark-black: rgb(0,0,0); 

// Font Size for h-tags:
$manrope-h1: 3.5rem;
$manrope-h2: 2.5rem;
$manrope-h3: 2rem;
$manrope-h4: 1.75rem;
$manrope-h5: 1.5rem;
$manrope-h6: 1.125rem;

// Font Size for Overline:
$manrope-overline: 0.875rem;

// Font Size for SubTitle: 
$manrope-subTitle: 0.812rem;

// Font Size for body: 
$manrope-body: 0.937rem;

// Font weight:
$manrope-regular: 400;
$manrope-medium: 500;
$manrope-bold: 700;