<header class="header">
    <h1>Headphones</h1>
</header>

<div class="container">
    <div class="headphones">
        <div class="row">
            <div class="col-xl-6">
              <div class="headphones__xx99 img-frame"></div>      
            </div>
    
            <div class="col-xl-6 d-flex align-items-center">
                <div class="headphones__desc-xx99">
                    <h2>XX99 Mark II headphones</h2>

                    <p>
                        The new XX99 Mark II headphones is the pinnacle of pristine audio. It redefines your premium headphone experience by reproducing the balanced depth and precision of studio-quality sound.
                    </p>
                    <a 
                    routerLink="/shop"
                    type="button" 
                    class="btn__default">Buy Product</a>
                </div>
            </div>
        </div>

        <div class="row" id="mark1">
                <div class="col-xl-6 d-flex align-items-center">
                    <div class="headphones__desc-mark1 ">
                        <h2>XX99 Mark I headphones</h2>

                        <p>
                            As the gold standard for headphones, the classic XX99 Mark I offers detailed and accurate audio reproduction for audiophiles, mixing engineers, and music aficionados alike in studios and on the go.
                        </p>
                        <a 
                        routerLink="/shop"
                        type="button" 
                        class="btn__default">Buy Product</a>
                    </div>
                </div>

            <div class="col-xl-6">
              <div class="headphones__mark1 img-frame"></div>      
            </div>
        </div>

        <div class="row">
            <div class="col-xl-6">
              <div class="headphones__xx59 img-frame"></div>      
            </div>
    
            <div class="col-xl-6 d-flex align-items-center">
                <div class="headphones__desc-xx59 ">
                    <h2>XX59 Headphones</h2>
                     
                    <p>
                        Enjoy your audio almost anywhere and customize it to your specific tastes with the XX59 headphones. The stylish yet durable versatile wireless headset is a brilliant companion at home or on the move.
                    </p>
                    <a 
                    routerLink="/shop"
                    type="button" 
                    class="btn__default">Buy Product</a>
                </div>
            </div>
        </div>
    </div>  

    <hr>
     
    <div class="features">
        <div class="features__description">
            <h3>Features</h3>
            <h6>
                These headphones have been created from durable, high-quality materials tough enough to take anywhere. Its compact folding design fuses comfort and minimalist style making it perfect for travel. Flawless transmission is assured by the latest wireless technology engineered for audio synchronization with videos.
            </h6> 
            <h6>
                More than a simple pair of headphones, this headset features a pair of built-in microphones for clear, hands-free calling when paired with a compatible smartphone. Controlling music and calls is also intuitive thanks to easy-access touch buttons on the earcups. Regardless of how you use the XX59 headphones, you can do so all day thanks to an impressive 30-hour battery life that can be rapidly recharged via USB-C.
            </h6>
        </div>
        <div class="row mt-5">
            <div class="col-md-5">
                <div class="features__gallery-1 gallery"></div>
                <div class="features__gallery-2 gallery"></div>
            </div>
            <div class="col-md-7">
                <div class="features__gallery-3 gallery-lg"></div>
            </div>
        </div>
    </div>
</div>