@import '../../../scss/global.scss';

.modal-header {
    display: flex;
    flex-direction: column;

    h1 {
        max-width: 400px;
        font-size: $manrope-h2;
        font-weight: $manrope-bold;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        line-height: 44px;
        margin-bottom: 2rem;
    }

    h5 {
        font-size: $manrope-h6;
        color: $grey;
    }
}

.modal-dialog,.modal-content {
    max-width: 650px;
    padding: 2rem;
    border-radius: 10px !important;

    @include respond(phone) {
        padding: 0;
    }
}

.box {
    height: 200px;
    display: flex;
    border-radius: 10px;
    margin: 3rem auto;
    overflow: hidden;
    
    
    &__left {
        height: 100%;
        flex-basis: 60%;    
        background-color: $light-grey;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        
        img{
            grid-column: 1/1;
            max-width: 50px;
            align-self: center;
            justify-self: center;
        }

        .description {
            grid-column: 2/2;
            align-self: center;
            justify-self: center;

            h3 {
                font-size: 1rem;
                font-weight: $manrope-bold;
                color: $grey;
            }

            h4 {
                font-size: 1rem;
                font-weight: $manrope-bold;
                color: $orange
            }

        }

        h5 {
            grid-column: 3/3;
            font-size: 0.8rem;
            font-size: 1rem;
            font-weight: $manrope-bold;
            color: $grey;
            align-self: center;
            justify-self: center;
        }
        
        hr {
            width: 75%;
            margin: 0 auto;
            grid-column: 1/4;
            grid-row: 2/3;
        }

        h6 {
            grid-column: 1/4;
            grid-row: 3/3;
            justify-self: center;
            font-size: $manrope-body;
            font-weight: $manrope-bold;
        }
    }

    &__right {
        height: 100%;
        flex-basis: 40%;
        background-color: $black;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h6 {
            font-size: $manrope-h6;
            font-weight: $manrope-regular;
            text-transform: uppercase;
            color: $very-light-grey;
        }

        span {
            color: $orange;
        }
    }
}

.button {
    display: block !important;
    width: 100%;
}