<div class="description">
    <h2>{{ product.title }}</h2>
    <p>{{ product.description }}</p>
    <h4>{{ product.price | currency: 'GBP'}}</h4>

    <div class="row">
        <div *ngIf="getQty() > 0" class="col-md-6 p-0 addQty">
            <button 
            (click)="removeFromCart()"
            class="btn btn-secondary">-</button>
            <div class="qty">{{ getQty() }}</div>
            <button
            (click)="addToCart()" 
            class="btn btn-secondary">+</button>
        </div>

        <div  class="col-md-6">
            <button
            (click)="addToCart()" 
            class="btn__default button">Add to Cart</button>
        </div>
        
    </div>
</div>