<header class="header">
    <div class="header__hero"></div>
    <div class="header__details">
        <span>New Product</span>
        <h1>XX99 Mark II HEADPHONES</h1>
        <p>
            Experience nature, lifelike audio and exceptional build 
            quality made for the passionate music enthusiast.
        </p>

        <a 
            routerLink="headphones"
            class="btn__default"
            type="button">
            See product
        </a>
    </div>
</header>

<div class="container">
    <main class="main">
        <div class="row justify-content-center">
            <div class="col-lg-4 d-flex justify-content-center">
                <div class="main__box">
                    <img src="../../../../assets/images/shared/desktop/image-headphones.png" alt="headphone" class="main__img">
                    <h1>headphone</h1>

                    <a 
                    routerLink="headphones"
                    type="button" 
                    class="btn__shop">Shop</a>

                </div>
            </div>

            <div class="col-lg-4 d-flex justify-content-center">
                <div class="main__box">
                    <img src="../../../../assets/images/shared/desktop/image-speakers.png" alt="headphone" class="main__img">
                    <h1>Speakers</h1>

                    <a 
                    routerLink="speakers"
                    type="button" 
                    class="btn__shop">Shop</a>

                </div>
            </div>  

            <div class="col-lg-4 d-flex justify-content-center">
                <div class="main__box">
                    <img src="../../../../assets/images/shared/desktop/image-earphones.png" alt="headphone"
                    class="main__img">
                    <h1>earphones</h1>

                    <a 
                    routerLink="earphones"
                    type="button" 
                    class="btn__shop">Shop</a>

                </div>
            </div>
        </div>
    </main>

    <section class="section">
        <div class="row">
            <div class="col-12">
                <div class="section__speaker-zx9">
                    <div class="overlay-img"></div>
                    <div class="description">
                        <h1>Zx9 Speaker</h1>
                        <p>Upgrade to premium speaker that are phenomenally build to deliver truly remarkable sound.</p>

                        <a 
                        routerLink="speakers"
                        type="button" 
                        class="btn__transparent">See Product</a>

                    </div>
                </div>
            </div>

            <div class="col-12">
                <div class="section__speaker-zx7">
                    <div class="description">
                        <h1>Zx7 Speaker</h1>

                        <a 
                        routerLink="speakers"
                        type="button" 
                        class="btn__transparent">See Product</a>

                    </div>
                </div>
            </div>
        </div>

        <div class="row my-5">
            <div class="col-lg-6">
                <div class="section__img-earphone"></div>
            </div>

            <div class="col-lg-6">
                <div class="section__earphone-yx1">
                    <div class="description">
                        <h1>yx1 Earphones</h1>
                        <a 
                        routerLink="earphones"
                        type="button" 
                        class="btn__transparent">See Product</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <article class="article">

                <div class="article__description">
                    <h2>Bringing you the <span>best</span> audio gear</h2>
                    <p>Located at the heart of New York City, Audiophile is the premier store for high end headphones, earphones, speakers, and audio accessories. We have a large showroom and luxury demonstration rooms available for you to browse and experience a wide range of our products. Stop by our store to meet some of the fantastic people who make Audiophile the best place to buy your portable audio equipment</p>
                </div>
                <div class="article__image">
                    <div class="best-gear-img"></div>
                </div>
    </article>

</div>